@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

:root {
  --color-background: #f5f6fa;
  --color-background-tint-30p: #f8f9fc;
  --color-text: #2d304e;
  --color-text-tint-80p: #eaeaed;
  --color-card-background: #ededf1;
  --color-primary: #40ff98;
  --gradient-primary: linear-gradient(308deg, #29dfff, #40ff98);

  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  color: var(--color-text);
  accent-color: var(--color-primary);
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
  background-color: var(--color-background);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}

::-moz-selection {
  background: var(--color-text);
  color: var(--color-background);
}

::selection {
  background: var(--color-text);
  color: var(--color-background);
}
