header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  text-align: center;
}

header > #title {
  font-size: 2.5rem;
}

#survey-form {
  background-color: var(--color-card-background);
  width: 55vw;
  padding: 2vw 5vw;
  border-radius: 8px;
}

#survey-form > .form-group {
  display: flex;
  flex-direction: column;
}

#survey-form > .form-group :first-child {
  font-weight: 500;
}

#survey-form > .form-group + .form-group {
  margin-top: 1rem;
}

#survey-form > button[type='submit'] {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 1rem;
  margin-top: 1.5rem;
  width: 100%;
  border-radius: 8px;
  background: var(--gradient-primary);
}

#survey-form :is(input, textarea, select) {
  outline: none;
  border: 1px solid var(--color-text-tint-80p);
  padding: 0 1rem;
  background: var(--color-background-tint-30p);
  border-radius: 4px;
}

#survey-form :is(input, textarea, select):focus {
  outline: 2px solid var(--color-primary);
}

#survey-form :is(input, select):not([type='radio'], [type='checkbox']) {
  height: 3.6rem;
}

@media (max-width: 1024px) {
  #survey-form {
    width: 70vw;
  }
}

@media (max-width: 425px) {
  #survey-form {
    width: 90vw;
  }
}
